##########################################
# Common stuff
##########################################
.DS_Store
.idea

##########################################
# Frontend stuff
##########################################
/frontend/.env
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/build
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/static

##########################################
# Backend stuff
##########################################
*.db

